@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination-bullets .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  display: block;
  margin: 8px 0;
  border-radius: 10px;
  background: #062744;
  opacity: 0.2;
  transition: all 0.3s;
}

.swiper-pagination-bullets .swiper-pagination-bullet-active {
  opacity: 1;
  background: #fd3838;
  height: 30px;
  box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3);

  @media screen and (max-width: 768px) {
    width: 11px;
    height: 30px;
    margin: 0 5px;
  }
}